@charset "utf-8";
/* 
 * Author:CK
 */
.form-bd{ background:#fcfcfc; border:1px solid #dfdfe1; border-bottom-color:#bcbdbd; margin:10px 0px; padding:20px 80px 50px 80px;}
.form-bd h1{ border-bottom:1px solid #eee; font-size:22px; font-weight:normal; margin:10px 0px; padding:0px 0px 5px 0px;}
.form-bd h2{ border-bottom:1px solid #eee; font-size:22px; font-weight:normal; margin:50px 0px 0px 0px; padding:0px 0px 5px 0px;}
.form-post{}




