@charset "utf-8";
/* 
* 宽屏版
* Author: DX.Lin
*/
html {font-size:100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }
body,ul,ol,p,li,h1,h2,h3,h4,h5,h6,figure,dl,dt,dd{padding:0;margin:0}
body{ background:#fafafa; color:#222; font:12px/1.8 "微软雅黑","Helvetica Neue",Helvetica,STHeiti,Droid Sans Fallback; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; padding-bottom:48px; }
li{list-style:none}
a,a:visited{text-decoration:none; color:#0b72c1;}
img{ max-width:100%;}
.fl{float:left}
.fr{float:right}
.clearfix:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
.hide{display:none}

/*
* 零碎变量
*/
.clear { clear:both;}
.fl {float:left;}
.fr {float:right;}
.ml5 {margin-left:5px;}
.ml8 {margin-left:8px;}
.mt5{ margin-top:5px;}
.ml10 {margin-left:10px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.transparent {
	filter:alpha(opacity=80); /* internet explorer */
	-khtml-opacity:0.8;      /* khtml, old safari */
	-moz-opacity:0.8;       /* mozilla, netscape */
	opacity:0.8;           /* fx, safari, opera */
}
.transparent_95 { filter:alpha(opacity=95); -khtml-opacity:0.95; -moz-opacity:0.95; opacity:0.95;}
.wrapper {margin:auto; width:980px;}
.sep{ padding:0px 5px;}


/*
 * 痕迹导航/面包屑
 */
.breadcrumb{ background:#fcfcfc; border:1px solid #dfdfe1; border-bottom-color:#bcbdbd; color:#888; margin:0px 0px 8px 0px; padding:3px 10px;}
.breadcrumb a,.breadcrumb a:visited{ color:#888;}
.breadcrumb a:hover{ color:#000; text-decoration:none;}

/*
 * 搜索内容列表
 */
.search-section{ background:#fcfcfc; border:1px solid #ddd; margin:10px 0px; min-height:600px;}
.search-section > .header{ border-bottom:1px dashed #ddd; font-size:24px; margin:10px 20px; padding:10px; }
.search-section > .section{ margin:10px 20px 20px 20px; }
.search-section .search-item{ border-bottom:1px dotted #ddd; padding:10px 0px;}
.search-section .search-item h2{ font-size:1.4em !important; font-weight:normal;}
.search-section .search-item .byline{ color:#aaa; line-height:12px; font-size:12px; padding:3px 0px 0px 0px;}
.search-section .search-item .byline span{ border-right:1px solid #bbb; display:inline-block; height:12px; line-height:12px; margin:0px 8px 0px 0px; padding:0px 8px 0px 0px;}
.search-section .search-item .byline span.views{ border-right:none; }
.search-section .search-item .byline a,.content-list .byline a:visited { color:#aaa;}
.search-section .search-item .byline a:hover{ color:#333; text-decoration:none;}
.search-section .search-item .entry-summary{ padding:8px 0px 5px 0px;}

font.keywords{ color:#f00;}

/*
 * 在线客服
 */
.service-online {font-family:"微软雅黑"; text-shadow:0px 1px 0px #fff; margin:0px; position:absolute; right:0px; top:100px; width:136px; z-index:99999999;}
.service-online a.mini {background:url("../images/service-online.png") 0px 0px no-repeat; display:inline-block; float:right; height:90px; width:30px; overflow:hidden;}
.service-online .listpanel {background:#fafafa; width:136px;}
.service-online .heading {background:url("../images/service-online.png") -40px 0px no-repeat; height:24px; line-height:24px; overflow:hidden; position:relative; }
.service-online .section {border:1px solid #ddd; padding:5px 0px 10px 0px;}
.service-online a.close {background-image:url("../images/service-online.png"); background-position:-40px -32px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:0px; top:0px;}
.service-online a.close:hover {background-position:-64px -32px;}
.service-online dl {border-bottom:1px dotted #e6e6e6; box-shadow:0px 1px 0px #fff; margin:5px 10px; padding:0px 0px 5px 0px;}
.service-online dl dt {font-size:12px; margin:0px; padding:0px;}
.service-online dl dd {margin:0px; padding:2px 0px;}
.service-online dl dd.tel {color:#c70505; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.service-online dl dd.qq {}
.service-online dl dd.wangwang {}



/**单选/复选框**/
.labels {}
.labels label.checkbox-inline {margin-right:10px;}
.labels label.radio-inline {margin-right:10px;}

/*
* spans
*/
.spans-inline {}
.spans-inline .headline {border-bottom:1px solid #eee; color:#666; display:inline-block; padding:0px 10px 2px 0px;}
.spans-inline .spans {padding:6px 0px 0px 0px;}
.spans-inline span {padding:0px 10px 0px 0px;}

/*
* 加载/提交/注释/注解
*/
.loading,
.posting {background:url("../images/posting.gif") 0px center no-repeat; color:#888; display:inline-block; font-size:18px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.freshing {background:url("../images/freshing.gif") 0px 0px no-repeat; color:#aaa; display:inline-block; font-size:12px; height:16px; line-height:16px; padding:2px 5px 2px 24px;}
.t-normal {color:#b2b2b2; padding:0px 0px 0px 0px;}
.t-normal.hightLigth,
.t-normal:hover{color:#4d4d4d;}

.t-ok { color:#00be00; }
.t-err { color:#ff3300; }


/*
* 表单 input check radio textarea select button
*/
input[type="radio"],
input[type="checkbox"] {
	margin:0px 5px 0px 0px; padding:0px; vertical-align:middle;
	}
input.text,
textarea.textarea {
	background-color:#fcfcfc; border:1px solid #aaa;
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	color:#333; font-size:14px;
	padding:0px 5px 0px 5px;
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
	width:240px;
	}
input.text {height:26px; line-height:26px;}
input.text-long {width:400px;}
input.text-short {width:160px;}
input.text-short-mini {width:80px;}
input.text-mini {height:18px; line-height:18px; width:114px;}
input.text-fileurl {width:300px;}
input.text-filename {width:120px;}
input.text-imageurl {border:1px dashed #bbb; width:272px;}
input.text-large { font-size:14px; padding:3px 5px;}
input.text-err,
textarea.textarea-err { background-color:#fffafa; border-color:#d80000; -webkit-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); -moz-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175);}
iframe.iframe-upload{ width:160px; display:inline; height:30px; overflow:hidden; vertical-align:middle;}
input.text-file{
	background-color:#fcfcfc; border:1px solid #aaa; height:26px; line-height:26px; width:156px;
	padding:0px 0px!important;
	padding:0px 0px\0 !important;
	*padding:2px 0px !important;
	_padding:2px 0px !important;
	}

/**文本域**/
textarea.textarea { height:80px; line-height:20px; padding-top:2px; padding-bottom:2px; width:400px;}
textarea.textarea-mini {height:60px;}
textarea.textarea-high {height:160px;}
textarea.textarea-summary {height:60px; width:660px;}
textarea.textarea-long {height:80px; width:660px;}
textarea.textarea-editor {height:300px; width:650px;}
/**下拉**/
select {
	border:1px solid #bbb; color:#333; height:26px; line-height:26px;
    margin:0px 0px; padding:3px;
	vertical-align:top;
}
select option {border-bottom:1px solid #f4f4f4; height:18px; line-height:18px; padding:4px 3px 1px 5px;}
select optgroup {font-style:normal; padding:2px 0px 2px 0px;}
select optgroup option:first-child {margin-top:3px;}
/**聚焦和经过状态**/
input.text:hover,
input.text:focus,
textarea.textarea:hover,
textarea.textarea:focus,
select:hover,
select:focus {
	background:#fcfcfc;
	border:1px solid #3498db;
	color:#000;
	-webkit-box-shadow:0px 0px 3px #6bafdc;
	-moz-box-shadow:0px 0px 3px #6bafdc;
	box-shadow:0px 0px 3px #6bafdc;
	}
/**无效状态**/
input.disabled,
input.disabled:hover,
input.disabled:focus,
select.disabled,
select.disabled:hover,
select.disabled:focus {
	background:#eee;
	border:1px solid #ccc;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#888;
	text-shadow:0px 0px 1px #fff;
}
/**时间**/
input.text-datetime,
input.text-datetime:hover,
input.text-datetime:focus {background-image:url("../images/icons/datetime.png"); background-repeat:no-repeat; background-position:center right;}


/*
* 各种按钮
*/
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor:pointer; -webkit-appearance:button;}
.btn,.btn:visited {
	background-color:#eee;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F6F6F6), color-stop(100%, #E6E6E6));
	background-image:-webkit-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:-moz-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:-o-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:linear-gradient(#F6F6F6,#E6E6E6);
	-webkit-box-shadow:#fff 0px 1px 0px inset; -moz-box-shadow:#fff 0px 1px 0px inset; box-shadow:#fff 0px 1px 0px inset;
	border:1px solid #aaa; border-bottom-color:#888; color:#555; font-family:"微软雅黑"; text-shadow:0px 1px 0px #f8f8f8; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	display:inline-block; position:relative;
}
.btn:hover {
	background-color:#ddd;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d8d8d8));
	background-image:-webkit-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-moz-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-o-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:linear-gradient(#e8e8e8,#d8d8d8);
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset; box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset;
	border-color:#888; border-bottom-color:#666; color:#333; text-decoration:none;
}
.btn  { font-size:14px; font-weight:normal; line-height:18px; padding:6px 15px; }
a.btn { padding:6px 17px; }

.btn-mini  { font-size:14px; line-height:18px; padding:4px 13px;}
a.btn-mini { padding:4px 15px;}

.btn-small  { font-size:14px; font-weight:normal; line-height:18px; padding:6px 15px; }
a.btn-small { font-size:14px; font-weight:normal; line-height:18px; padding:6px 17px; }

.btn-large  {-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-size:16px; line-height:26px; padding:6px 26px;}
a.btn-large { padding:6px 28px;}

.btn-xlarge  { -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-size:22px; line-height:26px; padding:10px 34px; }
a.btn-xlarge { padding:10px 34px;}


/**按钮颜色-状态**/
.btn-primary,.btn-primary:visited {
	background-color:#37548e;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e5e9c), color-stop(100%, #304a80));
	background-image:-webkit-linear-gradient(#3e5e9c,#304a80);
	background-image:-moz-linear-gradient(#3e5e9c,#304a80);
	background-image:-o-linear-gradient(#3e5e9c,#304a80);
	background-image:linear-gradient(#3e5e9c,#304a80);
	-webkit-box-shadow:#6783bb 0 1px 0 inset; -moz-box-shadow:#6783bb 0 1px 0 inset; box-shadow:#6783bb 0 1px 0 inset;
	border:1px solid #273c67;
	border-bottom-color:#22355d;
	color:#eee;
	text-shadow:0px 1px 0px #2e467c;
}
.btn-primary:hover {
	background-color:#2c4475;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#314b81), color-stop(100%,#22345b));
	background-image:-webkit-linear-gradient(#314b81,#22345b);
	background-image:-moz-linear-gradient(#314b81,#22345b);
	background-image:-o-linear-gradient(#314b81,#22345b);
	background-image:linear-gradient(#314b81,#22345b);
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	border-color:#1a2a4b;
	border-bottom-color:#152441;
	color:#fff;
}
.btn.disabled,.btn.disabled:hover {
	background-color:#ddd; background-image:none;
	-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
	border-color:#bbb; color:#888; cursor:default; font-weight:normal; text-shadow:0px 1px 0px #fff;
}
/**特殊表单**/
.btn-upload{ -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; font-size:12px; font-weight:bold; line-height:16px; padding:4px 15px;}

/**表单**/
.form { padding:10px 10px;}
.form-group { padding:0px 0px 8px 0px; zoom:1; overflow:auto;}
.form-group .col-name { color:#424242; font-size:14px; height:24px; line-height:24px; padding:0px 0px 4px 0px;}
.form-group .col-name .important { color:#f00; padding:0px 2px 0px 0px; font-style:normal; vertical-align:middle;}
.form-group .col-value { padding-right:12px;}
.form-group input.text {font-size:14px; padding:3px 5px; width:100%; }
.form-group span.t-normal{ margin:0px;}
.form-group .verifycode {}
.form-group .verifycode img {height:26px; vertical-align:middle;}
.form-group .verifycode .fresh {background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:12px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/*
* 水平表单
*/
.form-horizontal {}
.form-horizontal .control-group { margin-bottom:8px;}
.form-horizontal .control-group .control-label { font-size:14px; padding:5px 10px 0px 0px;}
.form-horizontal .control-group .controls { padding:5px 0px 0px 0px;}
.form-horizontal .control-group .controls .checkbox-line { display:block; padding:0px 0px 15px 0px;}
.form-horizontal .control-group .controls input.text{ width:100%;}

.form-horizontal .control-button{ padding:10px 0px 0px 0px;}
.form-horizontal .control-button .btn{ width:100%; padding-left:0px; padding-right:0px; text-align:center;}
.form-horizontal .control-textline{padding:10px 0px 0px 0px;}

/*
* 表单行为
*/
.form-actions {padding:20px 0px 0px 115px;}
.form-actions:before,
.form-actions:after {display:table; line-height:0; content:"";}
.form-actions:after {clear:both;}
.form-actions .btn {margin-right:8px;}


/*
* 自定义表单
*/
.form-list {padding:5px 0px;}
.form-data {background:#fafafa; border:1px dotted #ccc; margin:15px 0px 0px 0px; position:relative;}
.form-data:before,
.form-data:after { display:table; line-height:0; content:"";}
.form-data:after { clear:both;}
.form-data .heading {border-bottom:1px dotted #ddd; color:#aaa; height:20px; line-height:20px;}
.form-data .heading .data-id {font-size:11px; padding:5px 5px;}
.form-data .heading .datetime {float:right; font-size:11px; padding:0px 10px;}
.form-data .avatar {float:left; padding:10px 10px 6px 10px; width:48px;}
.form-data .avatar img {height:48px; width:48px;}
.form-data .avatar h6 {margin:0px; padding:0px; width:48px; overflow:hidden;}
.form-data-content {background:#fff; border-left:1px dotted #ddd; margin-left:68px;}
.form-data-content:before,
.form-data-content:after { display:table; line-height:0; content:""; }
.form-data-content:after { clear:both;}
.form-data table {width:100%;}
.form-data .row {border-bottom:1px dotted #ddd; padding:2px 0px 2px 0px;}
.form-data .row:last-child {border-bottom:none;}
.form-data td.col-name {float:left; font-size:12px; height:20px; line-height:20px; padding:3px 10px; text-align:left;}
.form-data td.col-value {border-left:1px dotted #ddd; font-size:12px; padding:3px 10px; width:88%;}

.form-data-reply {background-color:#ECF3FF; border:1px dotted #CDDEF8; color:#4B74B6; margin:0px 0px;}
.form-data-reply .heading {border-bottom:none; padding:5px 0px 0px 0px;}
.form-data-reply .heading .datetime {float:none; font-size:11px; padding:0px 10px;}
.form-data-reply .form-data-content {background:#ECF3FF;}
.form-data-reply .reply-content {min-height:50px; padding:5px 10px;}

/*
* 表格
*/
.table { width:100%;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { border-top:1px solid #dddddd; line-height:1.428571429; padding:8px; vertical-align:top; }
.table > thead > tr > th { border-bottom: 2px solid #dddddd; vertical-align: bottom; }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {border: 1px solid #dddddd;}
.table-auto { width:auto;}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > .active,
.table > tbody > tr > .active,
.table > tfoot > tr > .active,
.table > thead > .active > td,
.table > tbody > .active > td,
.table > tfoot > .active > td,
.table > thead > .active > th,
.table > tbody > .active > th,
.table > tfoot > .active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > .active:hover,
.table-hover > tbody > .active:hover > td,
.table-hover > tbody > .active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > .success,
.table > tbody > tr > .success,
.table > tfoot > tr > .success,
.table > thead > .success > td,
.table > tbody > .success > td,
.table > tfoot > .success > td,
.table > thead > .success > th,
.table > tbody > .success > th,
.table > tfoot > .success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > .success:hover,
.table-hover > tbody > .success:hover > td,
.table-hover > tbody > .success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > .danger,
.table > tbody > tr > .danger,
.table > tfoot > tr > .danger,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td,
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > .danger:hover,
.table-hover > tbody > .danger:hover > td,
.table-hover > tbody > .danger:hover > th {
  background-color: #ebcccc;
}

.table > thead > tr > .warning,
.table > tbody > tr > .warning,
.table > tfoot > tr > .warning,
.table > thead > .warning > td,
.table > tbody > .warning > td,
.table > tfoot > .warning > td,
.table > thead > .warning > th,
.table > tbody > .warning > th,
.table > tfoot > .warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > .warning:hover,
.table-hover > tbody > .warning:hover > td,
.table-hover > tbody > .warning:hover > th {
  background-color: #faf2cc;
}

/*
* 分页
*/
.pager {clear:both; display:block; margin:10px 0px 10px 0px;font-size:14px;}
.pager a,
.pager span{font-size:14px;}
.pager a:hover,
.pager a:active{}
.pager span.current { background:#eee; font-size:13px; padding:0px 15px;}
.pager a.prev-pages{ width:14%;}
.pager a.next-pages{ width:14%;}
.pager a.prev { border-right:0px; padding:0px 25px;}
.pager a.next { border-left:0px; padding:0px 25px;}
/****/


/*
* 弹出框
*/
.ow-dialog{
	-webkit-box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	-moz-box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	padding:0px; position:absolute; z-index:1001; top:100px; left:200px;}
.ow-dialog-wrapper{ background:#fff;}
.ow-dialog-inner{}
.ow-dialog-titleBar{ cursor:move; position:relative;}
.ow-dialog-title{ background:#395692; color:#fff; height:24px; line-height:24px; padding:0px 10px; left:0px;}
.ow-dialog-close{
	-webkit-box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	-moz-box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	box-shadow:rgba(0,0,0,0.6) 0px 0px 6px;
	background-image:url("../images/dialog-close.png"); background-position:0px 0px; background-size:48px 96px;
	display:inline-block; height:48px; width:48px; overflow:hidden; position:absolute; right:-48px; top:0px;}
.ow-dialog-close:hover{ background-position:0px -48px;}
.ow-dialog-main{ }
.ow-dialog-content{ background:#fcfcfc; border:0px solid rgba(0,0,0,0.8); border-bottom:none; font-size:14px; overflow:auto;}
.ow-dialog-content-success { background:#17a000; border:0px solid rgba(0,0,0,0.2); color:#fff; font-size:14px; padding:13px 18px 13px 18px;}
.ow-dialog-content-error   { padding:13px 18px 13px 18px;}
.ow-dialog-content-error > h5.error-text{ color:#d10000; font-size:14px; font-weight:normal; }
.ow-dialog-content-error > dl.error-msg{ border-top:1px dotted #ddd; font-size:12px; margin-top:6px; padding-top:6px;}
.ow-dialog-content-error > dl.error-msg dt{ color:#aaa; font-weight:bold; padding:0px 0px 5px 0px;}
.ow-dialog-content-error > dl.error-msg dd{ color:#666;}
.ow-dialog-loading{ background:url("../images/loading.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; line-height:24px; margin:15px 20px; padding:4px 0px 4px 48px;}
.ow-dialog-posting{ background:url("../images/posting.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; line-height:24px; margin:15px 20px; padding:4px 0px 4px 48px;}
.ow-dialog-iframe{ height:100%; width:100%;}
.ow-dialog-footer{ border-bottom:0px solid rgba(0,0,0,0.8); }
.ow-dialog-buttons{ background:#f6f6f6; border-left:0px solid rgba(0,0,0,0.8); border-right:0px solid rgba(0,0,0,0.8); border-top:1px solid #eee; padding:6px 20px; text-align:center;}
.ow-dialog-buttons button{ margin:0px 5px;}
.ow-dialog-timeout{ color:#121212; bottom:-25px; position:absolute; text-align:center; text-shadow:0px 1px 0px rgba(255,255,255,0.28);  width:100%;}
.ow-dialog-shadow{ background-color:#000; filter:alpha(opacity=60); opacity:0.6; left:0px; top:0px; width:100%; height:100%; position:fixed; visibility:visible; z-index:1000;}
.ow-dialog-shadow iframe{ width:100%; height:100%; filter:alpha(opacity=0); opacity:0;}
.ow-dialog .server-data{ background:#fafafa; border:1px dotted #e6e6e6; color:#999; margin:5px 0px 0px 0px; padding:5px; width:360px;}



