@charset "utf-8";
@import "ow.css";
/*
* icons集合
*/
.om-header .un-login, .om-header .logout, .om-header .menu, .om-header .cart a, .om-header .close a, .om-header .goback { background-image: url("../images/icons.png"); background-size: 44px auto; background-repeat: no-repeat; }
/*
* 头部
*/
.om-header { background-color: #4f6fb0; color: #fff; font-size: 14px; height: 44px; }
.om-header .logo { width: 100%; overflow: hidden; height: 44px; }
.om-header .logo img { float: left; height: 44px; }
.om-header .title { border-left: 1px solid #261e29; font-size: 16px; font-weight: normal; float: left; height: 20px; line-height: 20px; margin: 12px 0px; max-width: 150px; overflow: hidden; padding: 0px 10px; }
.om-header .user-status { height: 44px; position: absolute; top: 0px; right: 48px; }
.om-header .un-login { border-left: 1px solid #382d3b; background-position: 0px -176px; display: inline-block; float: right; margin: 0px 0px 0px 0px; height: 44px; width: 44px; }
.om-header .un-login:hover { background-color: #261e29; }
.om-header .user-status .username { display: inline-block; float: right; height: 44px; line-height: 44px; margin: 0px 0px; max-width: 100px; padding: 0px 12px 0px 12px; }
.om-header .user-status:hover { background-color: #261e29; }
.om-header .user-status .logout { display: none; }
.om-header .cart { border-left: 1px solid #382d3b; height: 44px; position: absolute; top: 0px; right: 0px; width: 48px; }
.om-header .cart a { background-position: 0px -220px; display: inline-block; height: 44px; width: 48px; }
.om-header .cart a .cart-amount { background-color: #df0000; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; display: inline-block; font-size: 9px; height: 12px; line-height: 12px; width: 12px; text-align: center; position: absolute; right: 4px; top: 4px; }
.om-header .cart a:hover { background-color: #261e29; }
.om-header a, .om-header a:visited { color: #fff; }
/*返回*/
.om-header .goback { background-position: 0px -132px; display: inline-block; float: left; height: 44px; width: 44px; }
.om-header .goback:hover { background-color: #261e29; }
/*栏目*/
.om-header .menu { background-position: 0px 0px; color: #fff; float: right; float: left; height: 44px; width: 44px; }
.om-header .menu, .om-header .menu:visited { text-decoration: none; }
.om-header .menu:hover { background-color: #261e29; }
.om-header .menu-section { position: absolute; top: 0px; left: 0px; z-index: 20; zoom: 1; overflow: auto; }
.om-header .close { height: 44px; }
.om-header .close a { background-color: #423546; background-position: 0px -44px; display: inline-block; float: left; height: 44px; line-height: 44px; width: 44px; }
.om-header .close a:hover { background-color: #1d1d1d; }
.om-header ul.top-nav { background-color: #423546; }
.om-header ul.top-nav li { border-top: 1px solid #4a3d4e; font-size: 16px; }
.om-header ul.top-nav li a { border-left: 5px solid #261d28; display: block; height: 48px; line-height: 48px; min-width: 130px; padding: 0px 15px; }
.om-header ul.top-nav li a, .om-header ul.top-nav li a:visited { color: #eee; }
.om-header ul.top-nav li a:hover { background: #261d28; border-left: 5px solid #64c400; color: #fff; text-decoration: none; }
/*
* 主导航
*/
.om-nav { background-color: #365493; position: fixed; bottom: 0px; width: 100%; z-index: 10; }
.om-nav ul.base { font-size: 12px; zoom: 1; overflow: auto; width: 100%; }
.om-nav ul.base li { float: left; height: 48px; text-align: center; width: 16.6%; overflow: hidden; }
.om-nav ul.base li a { background-position: center 2px; background-repeat: no-repeat; background-size: 24px auto; border-left: 1px solid #4f6fb0; border-right: 1px solid #294476; display: block; height: 24px; padding-top: 24px; line-height: 24px; }
.om-nav ul.base li a, .om-nav ul.base li a:visited { color: #fff; }
.om-nav ul.base li a:hover, .om-nav ul.base li a:active { background-color: #423546; border-left: 1px solid #4f4453; border-right: 1px solid #342938; text-decoration: none; }
.om-nav ul.base li.more { width: 14%; }
.om-nav ul.base li.more a { border-right: none; }
.om-nav ul.more { background-color: #365493; display: none; position: absolute; right: 0px; bottom: 48px; width: 100%; }
.om-nav ul.more li a { border-left: 5px solid #243e6f; border-bottom: 1px solid #294476; display: block; font-size: 16px; height: 48px; line-height: 48px; min-width: 130px; padding: 0px 15px; }
.om-nav ul.more li a, .om-nav ul.more li a:visited { color: #fff; }
.om-nav ul.more li a:hover, .om-nav ul.more li a:active { background-color: #294476; border-left-color: #294476; text-decoration: none; }
.om-nav ul.more li .sub2-nav { display: none; }
/*
* 底部导航
*/
.om-footer { }
.om-footer .powered { border-top: 1px solid #eee; color: #aaa; font-size: 10px; padding: 8px 10px; }
.om-footer .powered a, .om-footer .powered a:visited { color: #aaa; }
/*
* 主区域
*/
.mbody { min-height: 350px; }
/*
* 验证码
*/
.verifycode { }
.verifycode img { height: 32px; vertical-align: middle; }
.verifycode .fresh { background: #f6f6f6; border: 1px solid #aaa; display: inline-block; vertical-align: top; font-size: 16px; font-family: "微软雅黑"; height: 32px; line-height: 32px; padding: 0px 6px; }
.verifycode .code-loading { background: #fff url("../images/code_loading.gif") center center no-repeat; border: 1px solid #aaa; display: inline-block; vertical-align: top; height: 32px; width: 32px; }
/*
* 弹出框登录表单
*/
.form-login-window { padding: 10px 15px; }
.form-login-window .control-group .controls { padding-right: 10px; }
.form-login-window .control-group-verifycode .controls { padding-right: 0px; }
.form-login-window .control-group .controls input.text-verifycode { width: 70px; }
.form-login-window .control-group .controls .verifycode img { width: 80px; }
.form-login-window .control-group .controls .verifycode .fresh { padding: 0px 4px; }
.form-login-window .forget-password { margin-left: 0px; margin-right: 18px; }
.form-login-window .reg-member { margin-right: 18px; }
.form-login-window .unlogin-buy { }
.form-login-window .footer-line { padding: 15px 0px 0px 0px; }
/*
* 登录
*/
.om-login { font-size: 12px; }
.om-login .form-section { background: #f6f6f6; padding: 20px; }
.om-login .control-group .controls { padding-right: 10px; }
.om-login .text { width: 100%; }
.om-login .control-group .controls input.text-verifycode { width: 100px; }
.om-login .forget-password { float: right; }
.om-logout { font-size: 16px; padding: 50px 20px; }
.om-logout p { padding: 0px 0px 5px 0px; }
/*
* 找回密码
*/
.om-forget-password { padding: 20px; }
.om-forget-password h1 { font-size: 18px; padding: 0px 0px 10px 0px; }
.om-forget-password .control-group .controls { padding-right: 10px; }
.om-forget-password .text { width: 100%; }
.om-forget-password .text-verifycode { width: 100px; }
.om-forget-password .success-tip { font-size: 14px; }
/*
* 404错误
*/
.om-error404 { padding: 10px 20px; }
.om-error404 dl { }
.om-error404 dl dt { font-size: 18px; padding: 0px 0px 5px 0px; }
.om-error404 dl dd.tip-1 { border-top: 1px dotted #ccc; font-size: 18px; padding: 5px 0px; }
.om-error404 dl dd.tip-2 { font-size: 16px; padding: 5px 0px; }
.om-error404 dl dd.tip-en { font-size: 12px; padding: 5px 0px; }
.om-error404 .referer { padding: 10px 0px; }
/*
* 内容详细
*/
.om-content { font-size: 14px; padding: 10px 0px 20px 0px; word-break: break-all; word-wrap: break-word; }
/*
* 单页详细
*/
.om-page-detail { background-color: #fff; padding: 10px; }
.om-page-detail h1.title { border-bottom: 1px solid #e6e6e6; font-size: 18px; line-height: 160%; padding: 0px 0px 5px 0px; margin: 0 0 15px 0; }
.om-page-detail .om-content { }
/*
* 新闻中心
*/
.om-news { }
.om-news-list { background-color: #fff; border: 1px solid #ddd; }
.om-news-list .item { border-bottom: 1px solid #ddd; }
.om-news-list .item-title { font-size: 14px; font-weight: normal; }
.om-news-list .item-title a { color: #222; display: block; padding: 10px; }
.om-news-list .item-title a:hover, .om-news-list .item-title a:active { background-color: #eee; }
.om-news-list .item-summary { color: #666; font-size: 14px; }
/*新闻详细*/
.om-news-detail { }
.om-news-detail h1.title { font-size: 16px; line-height: 160%; }
.om-news-detail .byline { color: #aaa; line-height: 12px; font-size: 12px; padding: 5px 0px 0px 0px; }
.om-news-detail .byline span { border-right: 1px solid #bbb; display: inline-block; height: 12px; line-height: 12px; margin: 0px 5px 0px 0px; padding: 0px 5px 0px 0px; }
.om-news-detail .byline span.views { border-right: none; }
.om-news-detail .byline a, .om-news-detail .byline a:visited { color: #aaa; }
.om-news-detail .byline a:hover { color: #333; text-decoration: none; }
.om-news-detail .tags { font-size: 14px; margin: 20px 0px; padding: 5px 0px; }
.om-news-detail .tags a { margin: 0px 5px 0px 0px; }
.om-news-detail .pager { margin: 0px 0px; padding: 20px 0px 20px 0px; text-align: center; }
.om-news-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 0px 0px 0px; padding: 10px 0px; }
.om-news-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-news-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-news-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 0px 20px 0px; }
.om-news-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-news-detail .related-content ul a { border-bottom: 1px solid #eee; display: inline-block; line-height: 24px; padding: 2px 0px; }
/*
* 筛选栏
*/
.om-filter-line { background-color: #fff; border-bottom: 1px solid #ddd; zoom: 1; overflow: auto; }
.om-filter-line .type-filter { cursor: pointer; font-size: 14px; height: 44px; line-height: 44px; padding: 0px 10px; }
/*
* 筛选
*/
.om-content-type { background-color: #fff; border-bottom: 1px solid #ddd; display: none; }
.om-content-type .type-section { }
.om-content-type .type-line { border-bottom: 1px dotted #eee8e8; padding: 0px 0px 5px 0px; zoom: 1; overflow: auto; }
.om-content-type .type-line .type-attr { padding: 5px 10px 0px 10px; }
.om-content-type .type-line .type-value { }
.om-content-type .type-line .type-value ul { padding: 4px 0px 0px 4px; }
.om-content-type .type-line .type-value li { float: left; height: 20px; line-height: 20px; margin-right: 8px; white-space: nowrap; padding: 2px 0px; }
.om-content-type .type-line .type-value li a { display: inline-block; height: 20px; line-height: 20px; padding: 1px 6px; }
.om-content-type .type-line .type-value li a.current { background: #686868; color: #fff; }
.om-content-type .type-line .type-value li a.current:hover { text-decoration: none; cursor: default; }
/*
* 产品中心
*/
.om-product { }
.om-product-list { background-color: #fff; border-top: 1px solid #ddd; }
.om-product-list li { border-bottom: 1px solid #ddd; float: left; width: 49.9%; }
.om-product-list .thumbnail { height: 90px; width: 120px; padding: 2px; border: #ccc 1px solid; }
.om-product-list .thumbnail img { height: 90px; width: 120px; }
.om-product-list .title { font-size: 14px; font-weight: normal; height: 44px; line-height: 22px; overflow: hidden; }
.om-product-list a { color: #222; clear: both; display: block; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-product-list a:hover, .om-product-list a:active { background-color: #eee; }
.om-product .pager { margin: 10px; }
/*产品详细*/
.om-product-detail { background-color: #fff; }
.om-product-detail .gallery { background-color: #424242; }
.om-product-detail .slidebox { margin: 0px auto; max-width: 560px; overflow: hidden; position: relative; }
.om-product-detail .slidebox .hd { bottom: 0px; height: 28px; line-height: 28px; position: absolute; z-index: 2; }
.om-product-detail .slidebox .hd li { background: #222; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; width: 5px; height: 5px; margin: 0px 5px; text-indent: -9999px; overflow: hidden; }
.om-product-detail .slidebox .hd li.on { background: #fff; }
.om-product-detail .slidebox .bd { position: relative; z-index: 1; }
.om-product-detail .slidebox .bd li { position: relative; text-align: center; }
.om-product-detail .slidebox .bd li img { background: url("images/loading.gif") center center no-repeat; vertical-align: top; width: 100%; }
.om-product-detail .slidebox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.om-product-detail h1.title { border-bottom: 1px solid #e6e6e6; font-size: 18px; margin: 10px 10px; padding: 0px 0px 10px 0px; }
.om-product-detail .om-content { margin: 10px; padding: 0px; }
.om-product-detail .pager { margin: 0px 10px; padding: 20px 0px 20px 0px; text-align: center; }
.om-product-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 10px 0px 10px; padding: 10px 0px; }
.om-product-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-product-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-product-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 10px 0px 10px; padding: 0px 0px 20px 0px; }
.om-product-detail .headert { font-weight: bold; padding: 10px 0px 0px 0px; font-size: 14px; }
.om-product-detail .related-content .header { font-weight: bold; padding: 10px 0px 0px 0px; }
.om-product-detail .related-content ul a { }
.om-product-detail .related-content ul li { border-bottom: 1px solid #ddd; }
.om-product-detail .related-content ul .thumbnail { float: left; padding: 0px 10px 0px 0px; overflow: hidden; }
.om-product-detail .related-content ul .thumbnail img { height: 60px; width: 80px; vertical-align: top; }
.om-product-detail .related-content ul .title { font-size: 14px; font-weight: normal; }
.om-product-detail .related-content ul a { color: #222; clear: both; display: block; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-product-detail .related-content ul a:hover, .om-product-detail .related-content ul a:active { background-color: #eee; }
/*
* 案例中心
*/
.om-case { margin: 0px 0px 0px 0px; }
.om-case-list { background-color: #fff; border-top: 1px solid #ddd; padding: 0px 10px; }
.om-case-list li { border-bottom: 1px solid #ddd; }
.om-case-list .thumbnail { float: left; padding: 0px 10px 0px 0px; overflow: hidden; }
.om-case-list .thumbnail img { height: 60px; width: 60px; vertical-align: top; }
.om-case-list .title { font-size: 14px; font-weight: normal; }
.om-case-list a { color: #222; clear: both; display: block; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-case-list a:hover, .om-case-list a:active { background-color: #eee; }
.om-case .pager { margin: 10px; }
/*案例详细*/
.om-case-detail { background-color: #fff; }
.om-case-detail .gallery { background-color: #666; }
.om-case-detail .slidebox { margin: 0px auto; max-width: 560px; overflow: hidden; position: relative; }
.om-case-detail .slidebox .hd { bottom: 0px; height: 28px; line-height: 28px; position: absolute; z-index: 2; }
.om-case-detail .slidebox .hd li { background: #333; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; width: 5px; height: 5px; margin: 0px 5px; text-indent: -9999px; overflow: hidden; }
.om-case-detail .slidebox .hd li.on { background: #fff; }
.om-case-detail .slidebox .bd { position: relative; z-index: 1; }
.om-case-detail .slidebox .bd li { position: relative; text-align: center; }
.om-case-detail .slidebox .bd li img { background: url("images/loading.gif") center center no-repeat; vertical-align: top; width: 100%; }
.om-case-detail .slideBox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.om-case-detail h1.title { border-bottom: 1px solid #e6e6e6; font-size: 18px; margin: 10px 10px; padding: 0px 0px 10px 0px; }
.om-case-detail .om-content { margin: 10px; padding: 0px; }
.om-case-detail .pager { margin: 0px 20px; padding: 20px 0px 20px 0px; text-align: center; }
.om-case-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 10px 0px 10px; padding: 10px 0px; }
.om-case-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-case-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-case-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 10px 0px 10px; padding: 0px 0px 20px 0px; }
.om-case-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-case-detail .related-content ul li { border-bottom: 1px solid #ddd; }
.om-case-detail .related-content ul .thumbnail { float: left; padding: 0px 10px 0px 0px; overflow: hidden; }
.om-case-detail .related-content ul .thumbnail img { height: 60px; width: 60px; vertical-align: top; }
.om-case-detail .related-content ul .title { font-size: 14px; font-weight: normal; }
.om-case-detail .related-content ul a { color: #222; clear: both; display: block; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-case-detail .related-content ul a:hover, .om-case-detail .related-content ul a:active { background-color: #eee; }
/*
* 下载中心
*/
.om-download { padding: 10px; }
.om-download-list { background-color: #fff; border: 1px solid #ddd; }
.om-download-list li { border-bottom: 1px solid #ddd; }
.om-download-list li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px; }
.om-download-list li a:hover, .om-download-list li a:active { background-color: #eee; }
/*下载详细*/
.om-download-detail { background-color: #fff; padding: 10px; }
.om-download-detail h1.title { font-size: 18px; line-height: 160%; }
.om-download-detail .byline { color: #aaa; line-height: 12px; font-size: 12px; padding: 5px 0px 0px 0px; }
.om-download-detail .byline span { border-right: 1px solid #bbb; display: inline-block; height: 12px; line-height: 12px; margin: 0px 5px 0px 0px; padding: 0px 5px 0px 0px; }
.om-download-detail .byline span.views { border-right: none; }
.om-download-detail .byline a, .om-news-detail .byline a:visited { color: #aaa; }
.om-download-detail .byline a:hover { color: #333; text-decoration: none; }
.om-download-detail .downloader { border-top: 1px dotted #ddd; padding: 10px 0px 10px 0px; }
.om-download-detail .downloader .btn { padding-left: 0px; padding-right: 0px; text-align: center; width: 100%; }
.om-download-detail .tags { font-size: 14px; margin: 20px 0px; padding: 5px 0px; }
.om-download-detail .tags a { margin: 0px 5px 0px 0px; }
.om-download-detail .pager { margin: 0px 20px; padding: 20px 0px 20px 0px; text-align: center; }
.om-download-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 0px 0px 0px; padding: 10px 0px; }
.om-download-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-download-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-download-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 0px 20px 0px; }
.om-download-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-download-detail .related-content li { border-bottom: 1px solid #ddd; }
.om-download-detail .related-content li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px 0px; }
.om-download-detail .related-content li a:hover, .om-download-detail .related-content li a:active { background-color: #eee; }
/*
* 视频中心
*/
.om-video { }
.om-video-list { padding: 10px 10px 0px 10px; }
.om-video-list li { background-color: #fff; border: 1px solid #ddd; }
.om-video-list .thumbnail { background-color: #ccc; float: left; height: 100px; margin-right: 10px; padding: 0px 0px 0px 0px; overflow: hidden; }
.om-video-list .thumbnail img { max-width: 150px; vertical-align: middle; }
.om-video-list .title { font-size: 14px; font-weight: normal; }
.om-video-list a { color: #222; clear: both; display: block; padding: 10px; zoom: 1; overflow: auto; }
.om-video-list a:hover, .om-video-list a:active { background-color: #f6f6f6; }
.om-video .pager { margin: 10px; }
/*视频详细*/
.om-video-detail { background-color: #fff; }
.om-video-detail .video { padding: 10px; }
.om-video-detail .video video { background-color: #ccc; vertical-align: top; width: 100%; }
.om-video-detail h1.title { border-bottom: 1px solid #e6e6e6; font-size: 18px; margin: 0px 10px 0px 10px; padding: 0px 0px 10px 0px; }
.om-video-detail .byline { color: #aaa; line-height: 12px; font-size: 12px; margin: 0px 10px; padding: 10px 0px 0px 0px; }
.om-video-detail .byline span { border-right: 1px solid #bbb; display: inline-block; height: 12px; line-height: 12px; margin: 0px 5px 0px 0px; padding: 0px 5px 0px 0px; }
.om-video-detail .byline span.views { border-right: none; }
.om-video-detail .byline a, .om-news-detail .byline a:visited { color: #aaa; }
.om-video-detail .byline a:hover { color: #333; text-decoration: none; }
.om-video-detail .om-content { margin: 10px; padding: 0px; }
.om-video-detail .tags { font-size: 14px; margin: 0px 10px; padding: 5px 0px; }
.om-video-detail .tags a { margin: 0px 5px 0px 0px; }
.om-video-detail .pager { margin: 0px 10px; padding: 20px 0px 20px 0px; text-align: center; }
.om-video-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 10px 0px 10px; padding: 10px 0px; }
.om-video-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-video-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-video-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 10px 0px 10px; padding: 0px 0px 20px 0px; }
.om-video-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-video-detail .related-content ul li { background-color: #fff; border: 1px solid #ddd; }
.om-video-detail .related-content ul .thumbnail { background-color: #ccc; float: left; height: 100px; margin-right: 10px; padding: 0px 0px 0px 0px; overflow: hidden; }
.om-video-detail .related-content ul .thumbnail img { max-width: 150px; vertical-align: middle; }
.om-video-detail .related-content ul .title { font-size: 14px; font-weight: normal; }
.om-video-detail .related-content ul a { color: #222; clear: both; display: block; padding: 10px; zoom: 1; overflow: auto; }
.om-video-detail .related-content ul a:hover, .om-video-detail .related-content ul a:active { background-color: #f6f6f6; }
/*
* 新闻中心
*/
.om-blog { padding: 10px; }
.om-blog-list { background-color: #fff; border: 1px solid #ddd; }
.om-blog-list li { border-bottom: 1px solid #ddd; }
.om-blog-list li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px; }
.om-blog-list li a:hover, .om-blog-list li a:active { background-color: #eee; }
/*新闻详细*/
.om-blog-detail { background-color: #fff; padding: 10px; }
.om-blog-detail h1.title { font-size: 18px; line-height: 160%; }
.om-blog-detail .byline { color: #aaa; line-height: 12px; font-size: 12px; padding: 5px 0px 0px 0px; }
.om-blog-detail .byline span { border-right: 1px solid #bbb; display: inline-block; height: 12px; line-height: 12px; margin: 0px 5px 0px 0px; padding: 0px 5px 0px 0px; }
.om-blog-detail .byline span.views { border-right: none; }
.om-blog-detail .byline a, .om-blog-detail .byline a:visited { color: #aaa; }
.om-blog-detail .byline a:hover { color: #333; text-decoration: none; }
.om-blog-detail .tags { font-size: 14px; margin: 20px 0px; padding: 5px 0px; }
.om-blog-detail .tags a { margin: 0px 5px 0px 0px; }
.om-blog-detail .pager { margin: 0px 10px; padding: 20px 0px 20px 0px; text-align: center; }
.om-blog-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 0px 0px 0px; padding: 10px 0px; }
.om-blog-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-blog-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-blog-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 0px 0px 0px; }
.om-blog-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-blog-detail .related-content ul { border: 1px solid #ddd; }
.om-blog-detail .related-content li { border-bottom: 1px solid #ddd; }
.om-blog-detail .related-content li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px; }
.om-blog-detail .related-content li a:hover, .om-blog-detail .related-content li a:active { background-color: #eee; }
/*
* 普通文章(帮助中心)
*/
.om-article { padding: 10px; }
.om-article-list { background-color: #fff; border: 1px solid #ddd; }
.om-article-list li { border-bottom: 1px solid #ddd; }
.om-article-list li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px; }
.om-article-list li a:hover, .om-article-list li a:active { background-color: #eee; }
/*文章详细*/
.om-article-detail { background-color: #fff; padding: 10px; }
.om-article-detail h1.title { font-size: 18px; line-height: 160%; }
.om-article-detail .byline { color: #aaa; line-height: 12px; font-size: 12px; padding: 5px 0px 0px 0px; }
.om-article-detail .byline span { border-right: 1px solid #bbb; display: inline-block; height: 12px; line-height: 12px; margin: 0px 5px 0px 0px; padding: 0px 5px 0px 0px; }
.om-article-detail .byline span.views { border-right: none; }
.om-article-detail .byline a, .om-article-detail .byline a:visited { color: #aaa; }
.om-article-detail .byline a:hover { color: #333; text-decoration: none; }
.om-article-detail .tags { font-size: 14px; margin: 20px 0px; padding: 5px 0px; }
.om-article-detail .tags a { margin: 0px 5px 0px 0px; }
.om-article-detail .pager { margin: 0px 10px; padding: 20px 0px 20px 0px; text-align: center; }
.om-article-detail .prev-next { border-top: 1px dotted #ddd; font-size: 14px; margin: 20px 0px 0px 0px; padding: 10px 0px; }
.om-article-detail .prev-next .prev { line-height: 24px; padding: 4px 0px; }
.om-article-detail .prev-next .next { line-height: 24px; padding: 4px 0px; }
.om-article-detail .related-content { border-top: 1px dotted #ddd; font-size: 14px; margin: 0px 0px 0px 0px; }
.om-article-detail .related-content .header { font-weight: bold; padding: 10px 0px 5px 0px; }
.om-article-detail .related-content ul { border: 1px solid #ddd; }
.om-article-detail .related-content li { border-bottom: 1px solid #ddd; }
.om-article-detail .related-content li a { color: #222; display: block; font-size: 16px; font-weight: normal; padding: 10px; }
.om-article-detail .related-content li a:hover, .om-article-detail .related-content li a:active { background-color: #eee; }
/*
* 搜索结果
*/
.om-search-header { border-bottom: 1px solid #ddd; font-size: 16px; margin: 0px 10px; padding: 10px 0px; }
font.keywords { color: #f00; }
/*
* 首页
*/
.om-banner { background-color: #ccc; clear: both; position: static; }
.om-banner .slidebox { margin: 0px auto; max-width: 560px; overflow: hidden; position: relative; }
.om-banner .slidebox .hd { bottom: 0px; height: 28px; line-height: 28px; position: absolute; z-index: 2; }
.om-banner .slidebox .hd li { background: #222; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; width: 5px; height: 5px; margin: 0px 5px; text-indent: -9999px; overflow: hidden; }
.om-banner .slidebox .hd li.on { background: #fff; }
.om-banner .slidebox .bd { position: relative; z-index: 1; }
.om-banner .slidebox .bd li { position: relative; text-align: center; }
.om-banner .slidebox .bd li img { background: url("images/loading.gif") center center no-repeat; vertical-align: top; width: 100%; }
.om-banner .slidebox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.om-index-news { background: #fff; border-bottom: 1px solid #ddd; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-index-news .tabbox .hd { }
.om-index-news .tabbox .hd ul { background: #fff; border-bottom: 1px solid #ddd; font-size: 14px; height: 30px; line-height: 30px; padding: 0px 10px; }
.om-index-news .tabbox .hd ul li { background-color: #eee; float: left; padding: 0px 12px; color: #666; }
.om-index-news .tabbox .hd ul .on { background: #ddd; border-bottom-color: #fff; }
.om-index-news .tabbox .hd ul .on a { display: block; }
.om-index-news .tabbox .hd ul a, .om-index-news .tabbox .hd ul a:visited { color: #424242; }
.om-index-news .tabbox .bd ul { padding: 5px 10px 0px 10px; }
.om-index-news .tabbox .bd li { font-size: 14px; }
.om-index-news .tabbox .bd li a { border-top: 1px solid #eee; display: block; line-height: 32px; padding: 2px 0px; height: 32px; overflow: hidden; }
.om-index-news .tabbox .bd li a:hover, .om-index-news .tabbox .bd li a:active { background-color: #f6f6f6; }
.om-index-news .tabbox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.om-index-news .tabbox .bd li:first-child a { border-top: none; }
.om-index-product { background-color: #fff; border-top: 1px solid #ddd; padding: 0px 10px; }
.om-index-product .header { font-size: 14px; font-weight: bold; padding: 5px 0px; }
.om-index-product .header .more { float: right; font-weight: normal; padding-right: 5px; }
.om-index-product .section { }
.om-index-product .section li { border-top: 1px solid #ddd; float: left; width: 49.9%; }
.om-index-product .section li .thumbnail { height: 90px; width: 120px; padding: 2px; border: #ccc 1px solid; }
.om-index-product .section li .thumbnail img { height: 90px; width: 120px; }
.om-index-product .section li .title { font-size: 14px; font-weight: normal; height: 44px; line-height: 22px; overflow: hidden; }
.om-index-product .section li a { color: #222; clear: both; display: block; padding: 10px 0px; zoom: 1; overflow: auto; }
.om-index-product .section li a:hover, .om-index-product .section li a:active { background-color: #eee; }
.om-search { background-color: #fff; border-top: 1px solid #ddd; clear: both; padding: 10px 10px; }
.om-search .search-form { position: relative; }
.om-search .search-text { padding: 0px 0px 0px 0px; width: 75%; }
.om-search .search-btn { position: absolute; right: -1px; top: 0px; z-index: 2; width: 25%; }
.om-search .text-search { font-size: 12px; height: 32px; line-height: 32px; width: 100%; }
.om-search .text-search:hover { }
.om-search .btn-search { background-color: #666; border: none; color: #fff; font-size: 14px; font-family: "微软雅黑"; height: 34px; line-height: 34px; width: 100%; }
.om-search .btn-search:active { background-color: #261e29; }
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; }
.clearfix { zoom: 1; }
.listtt { clear: both; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; color: #369; padding: 10px; }
.listtt a { font-size: 12px; font-weight: normal; color: #555; float: right; }
/*咨询*/
.om-goods-consultation { }
.om-goods-consultation .header { border-bottom: 1px solid #f2f2f2; font-size: 16px; padding-bottom: 2px; }
.list_section { padding: 5px 0px; }
.consult-data { background: #fafafa; border: 1px solid #ddd; border-left: 4px solid #828282; margin: 10px 0px 0px 0px; position: relative; zoom: 1; overflow: auto; }
.consult-data .cst-id { background: #fff; color: #aaa; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; display: inline-block; font-size: 16px; position: absolute; top: 0px; right: 0px; padding: 1px 10px; }
.consult-data .avatar { float: left; padding: 10px; width: 56px; }
.consult-data .avatar img { height: 56px; width: 56px; }
.consult-data-content { margin-left: 80px; padding: 5px 10px 0px 0px; }
.consult-data-content dl dt { border-bottom: 1px dotted #eee; color: #aaa; height: 24px; line-height: 24px; }
.consult-data-content dl dt .author { color: #aa8d63; }
.consult-data-content dl dt .servicer { color: #17a000; font-weight: bold; }
.consult-data-content dl dt .datetime { font-size: 11px; padding: 0px 10px 0px 18px; }
.consult-data-content dl dd { padding: 4px 0px 15px 0px; }
.consult-data-reply { background-color: #fff; border-left: 4px solid #17a000; border-top: none; margin: 0px 0px; }
.consult-data-reply .consult-data-content { }
.consult-data-reply .consult-data-content dl dt { border-bottom: none; padding: 0px 0px 0px 0px; }
.consult-data-reply .consult-data-content dl dd { color: #666; padding: 2px 0px 15px 0px; }
.pager-section { padding: 5px 0px 10px 0px; }
.post-section { background: #fafafa; border: 1px solid #ddd; margin: 10px 0px; padding: 5px 10px; }
.post-section .header { border-bottom: 1px solid #eee; box-shadow: 0px 1px 0px #fff; font-size: 14px; padding: 0px 0px 3px 0px; }
.post-section .section { padding: 5px 0px 5px 0px; }
.post-section dl { padding: 5px 0px 2px 0px; }
.post-section dl dt { color: #aa8d63; font-weight: bold; }
.post-section dl dd { padding: 2px 0px 0px 0px; }
.post-section dl dd.input-text { padding-right: 12px; }
.post-section dl dd .text, .post-section dl dd .textarea { margin-top: 3px; width: 100%; }
.post-section dl dd .textarea { height: 100px; }
.post-section dl dd .text-verifycode { margin: 0px; width: 100px; }
.post-section dl dd label { display: inline-block; padding: 2px 0px 3px 0px; width: 90px; }
.post-section dl dd label input { margin: 0px 3px 2px 0px; }
.post-section dl.get-answer-email dt { color: #17a000; }
.post-section .footer { padding: 10px 0px 10px 0px; }
.post-section .footer label { margin-left: 15px; }
.post-section .footer label input { margin: 0px 5px 3px 0px; }
